/* colour scheme: b1d5e7, 558ca7, 82b4cc, ddeff8 */


@font-face {
    font-family: 'sofiapro-light';
    src: url('/static/fonts/sofiapro-light-webfont.woff2') format('woff2'),
         url('/static/fonts/sofiapro-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

a {
    text-decoration: none;
    color: whitesmoke;
}

a:hover {
    color: #548CA7;
}

.alert {
    width: 50%;
}

body {
    background-image: url("/static/images/background.jpg");
    background-position: center;
    background-repeat: vertical;
    background-attachment: fixed;
    background-size: 2000px;
    color: whitesmoke;
    font-family: 'sofiapro-light', 'Helvetica', 'Arial', sans-serif;
    font-size: 1.1em;
}

.btn-custom {
    border-style: none;
    color: whitesmoke;
}

.btn-custom.enabled:hover {
    box-shadow: 0px 0px 5px whitesmoke;
}

.btn-custom-sm {
    padding: 2px 5px;
    font-size: 0.75rem;
    color: whitesmoke;
}

.btn-custom-sm:hover {
    color: #c9c9c9;
}

.nav-colours {
    background-color: rgba(177, 213, 231, 0.2)
}

.navbar-text {
    color: whitesmoke;
}

.nav-link {
    color: whitesmoke !important;
}

.nav-link:hover {
    color: #548CA7 !important;
}

/* Navbar Toggle */
.navbar-toggler {
    --bs-navbar-toggler-border-color: whitesmoke;
    --bs-navbar-toggler-border-radius: 5px;
    --bs-navbar-toggler-focus-width: 1px;
}

.navbar-toggler {
    color: whitesmoke;
}

.navbar-toggler-icon {
    filter: invert(1) brightness(2);
}

.col {
    max-width: 50%;
}

.date {
    font-size: small;
    color: #f1f1f1;
}

.custom-alert {
    width: 300px;
    height: auto;
    color: #f1f1f1;
    background-color: #09b2ea;
    border-style: none;
}

.custom-pad-b {
    padding-bottom: 6px;
}

.pagination {
    --bs-pagination-color: whitesmoke;
    --bs-pagination-bg: #5ac8ec;
    --bs-pagination-active-bg: #5ac8ec;
    --bs-pagination-active-color: #c9c9c9;
    --bs-pagination-border-color: #5ac8ec;
    --bs-pagination-active-border-color: #5ac8ec;
    --bs-pagination-hover-color: #5ac8ec;
}

.pantrylink {
    color: #558ca7;
}

.profilepic {
    width: auto;
    height: 50px;
}

.picico {
    vertical-align: bottom;
}

.profilepicico {
    width: auto;
    height: 30px;
}

.profilepicico:hover {
    opacity: 0.5;
}

#searchBox.autocomplete-active:focus {
    outline: none;
    box-shadow: none;
}

#suggestions {
    width: 100%;
    left: 0;
    top: 100%;
    overflow-y: auto;
    border: none;
    position: absolute;
    z-index: 1000;
}

#suggestions .list-group-item:hover {
    cursor: pointer;
    background-color: lightblue;
}

#homeSuggestions {
    width: 100%;
    left: 0;
    top: 100%;
    overflow-y: auto;
    border: none;
}

#homeSuggestions .list-group-item:hover {
    cursor: pointer;
    background-color: lightblue;
}

.list-group {
    z-index: 1000;
    top: 100%;
    left: 0;
}

.recipe-image {
    height: 160px;
    width: auto;
    border-radius: 7px;
}

.recipe-image-full {
    height: 300px;
    width: auto;
    border-radius: 7px;
}

.fav-button {
    align-items: center;
}

.fav-recipe-icon {
    height: 20px;
    width: auto;
}

.img-container img {
    max-width: 50%;
}

.card {
    background-color: #DDEFF8;
}

.card-link {
    color: whitesmoke;
}

.card-link:hover {
    color: #c9c9c9;
}

.modal-content {
    color: #558CA7;
  }