/* Colours for reference */

.colour-scheme {
    color: #b1d5e7, #26414f, #558ca7, #82b4cc, #ddeff8, whitesmoke;
}

/* Font */
@font-face {
    font-family: 'sofiapro-light';
    src: url('/static/fonts/sofiapro-light-webfont.woff2') format('woff2'),
         url('/static/fonts/sofiapro-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Alphabetical */
a {
    text-decoration: none;
    color: whitesmoke;
}

a:hover {
    color: #558ca7;
}

.alert {
    width: 50%;
}

.bg-custom {
    background-color: rgba(85, 140, 167, 0.4);
    border-radius: 7px;
    min-height: 300px;
}

body {
    background-image: url("/static/images/background.jpg");
    background-position: center;
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: 2000px;
    color: whitesmoke;
    font-family: 'sofiapro-light', 'Helvetica', 'Arial', sans-serif;
    font-size: 1.1rem;
}

@media (max-width: 600px) { 
    body { 
        font-size: 1.5rem;
    } 
}

.btn-custom {
    color: whitesmoke;
}

.btn-custom:hover {
    background-color: rgba(130, 180, 204, 0.3);
    color: #ddeff8;
    box-shadow: 0px 0px 5px whitesmoke;   
}

.btn-custom-icon {
    fill: #ddeff8;
}

.btn-custom-icon:hover {
    fill: #558ca7;
    filter:blur(0.025rem);
    cursor: pointer;
}

.btn-custom-red {
    color: rgb(166, 67, 67);
}

.btn-custom-red:hover {
    background-color: rgba(130, 180, 204, 0.3);
    color: rgb(209, 0, 0);
}

.btn-custom-sm {
    padding: 2px 5px;
    font-size: 0.75rem;
    color: #ddeff8;
}

.btn-custom-sm:hover {
    color: whitesmoke;
}

/* Technique for border found at https://stackoverflow.com/questions/43694588/can-i-use-css-to-distort-borders-so-they-look-like-sketched */
.card {
    background-image: url("/static/images/background.jpg");
    border: solid 4px whitesmoke;
    border-top-left-radius: 25px 10px;
    border-top-right-radius: 10px 25px;
    border-bottom-right-radius: 25px 10px;
    border-bottom-left-radius: 10px 25px;
    color: whitesmoke !important;
}

.card-header {
    font-size: 1.1rem;
}

.card-title {
    font-size: 1.1rem;
}

.card-text {
    font-size: 1rem;
}

.cell-sm {
    width: 7em;
}

.col-sm {
    max-width: 50%;
}

.custom-pad-b {
    padding-bottom: 6px;
}

.custom-ms {
    margin-left: 0.3rem;
}

.fav-button {
    align-items: center;
}

.fav-recipe-icon {
    height: 20px;
    width: auto;
}

.form-check-input:checked {
    background-color: #558ca7;
    border-color: #558ca7;
}

.form-control {
    color: #666d74;
}

.form-control:focus {
    box-shadow: 3px 3px 10px #ddeff8;
}

.form-select {
    font-size: 0.9em;
    color: #666d74;
}

#homeSearchForm {
    position: relative;
}

#homeSuggestions {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 1000;
    background: whitesmoke;
}

#homeSuggestions .list-group-item:hover {
    cursor: pointer;
    background-color: lightblue;
}

#imageUploadForm {
    display: none;
}

.img-container img {
    max-width: 50%;
}

input::placeholder {
    font-size: 1em;
}

.modal-content {
    color: #558ca7;
}

.nav-colours {
    background-color: rgba(177, 213, 231, 0.45);
}

.navbar-text {
    color: whitesmoke;
}

.nav-link {
    color: whitesmoke !important;
}

.nav-link:hover {
    color: #558ca7 !important;
}

.navbar-toggler {
    --bs-navbar-toggler-border-color: whitesmoke;
    --bs-navbar-toggler-border-radius: 5px;
    --bs-navbar-toggler-focus-width: 1px;
}

.navbar-toggler {
    color: #f5f5f5;
}

.navbar-toggler-icon {
    filter: invert(1) brightness(2);
}

.picico {
    vertical-align: bottom;
}

.profile_form {
    display: none;
}

.profilepic {
    width: auto;
    height: 150px;
    border-radius: 7px;
}

.profilepicico {
    width: auto;
    height: 30px;
}

.profilepicico:hover {
    opacity: 0.5;
}

.recipe-card {
    background-image: url("/static/images/background.jpg");
    background-position: center;
    background-attachment: fixed;
    border: none;
    color: whitesmoke;
}

.recipe-image-plain {
    height: 150px;
    width: auto;
    border-radius: 7px;
}

.recipe-image {
    height: 150px;
    width: auto;
    border-radius: 7px;
}

.recipe-image:hover {
    box-shadow: 0 0 5px 3px #ddeff8;
}

.recipe-image-mid {
    height: 250px;
    width: auto;
    border-radius: 7px;
}

.recipe-image-mid:hover {
    box-shadow: 0 0 5px 3px #ddeff8;
}

.recipe-image-full {
    height: 333px;
    width: auto;
    border-radius: 7px;
}

#searchBox {
    position: relative;
    z-index: 2;
}

.search-container {
    position: relative;
}

.shadow {
    filter: drop-shadow(5px 2px 2px #558ca780);
}

/* Scroller functionality taken from "Create a horizontal media scroller with CSS" - Kevin Powell
    https://www.youtube.com/watch?v=3yfswsnD2sw -  */

.scroller {
    display: grid;
    grid-auto-flow: column;
    padding: 10px;
    border-radius: 7px;

    overflow-x: hidden;
    overscroll-behavior-inline: contain;
    scroll-behavior: smooth;
}

.snap {
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: 2rem;
}

.snap > * {
    scroll-snap-align: middle;
}

#suggestions {
    position: absolute;
    top: 100%;
    overflow-y: auto;
    z-index: 1000;
    border-radius: 7px;
    width: auto;
}

#suggestions .list-group-item:hover {
    cursor: pointer;
    background-color: #82b4cc;
}

.table {
    --bs-table-bg: rgba(177, 213, 231, 0.3);
    --bs-table-color: whitesmoke;
    --bs-table-hover-color: #ddeff8;
    --bs-table-hover-bg: rgba(38, 65, 79, 0.075);   
}

.text-darker {
    color: #26414f;
}

ul {
    list-style: none;
    padding-left: 0.1rem;
}

.ul-custom li {
    list-style: none;
}
  
.ul-custom {
    display: grid;
    grid-template-rows: repeat(10, 2rem);
    grid-auto-flow: column;
}