{% extends "SousChef/layout.html" %}
{% load custom_filters %}


{% block body %}
<!-- Add a New Recipe-->
    <div class="container m-3">
        <h4>Add a Recipe</h4>
        <form action="{% url 'add_recipe' %}" method="post">
            <div class="row">
                <div class="col">
                
                    {% csrf_token %}
                    <h5>Name</h5>
                    <div>{{ recipe_form.name }}</div>
                    <h5>Description</h5>
                    <div>{{ recipe_form.description }}</div>
                    <h5>Steps</h5>
                    <div>{{ recipe_form.steps }}</div>
                    <h5>Image</h5>
                    <div>{{ recipe_form.image }}</div>
                    <h5>Public</h5>
                    <div>{{ recipe_form.public }}</div>
                    <button type="submit">Save Recipe</button>                   
            </div>

            <!-- Ingredients -->
            <div class="col">
                
                <div class="card">
                    <div class="card-header">
                        <h5>Add Ingredients</h5>
                    </div>
                    <div class="card-body">

                        <!-- Ingredient Formset -->
                        <table class="table" id="ingredient-formset">
                            <thead>
                                <tr>
                                    <th>Ingredient</th>
                                    <th>Amount</th>
                                    <th>Unit</th>
                                    <th>Add</th>
                                    <th>Remove</th>
                                </tr>
                            </thead>

                            <tbody>
                                {{ ingredient_formset.management_form }}
                                
                                {% csrf_token %}
                                <tr id="ingredientRow">
                                    {% for form in ingredient_formset %}
                                        {{ form.id }}
                                        <td style="position: relative;">
                                            <!-- Ingredient Search -->
                                            {{ form.ingredient }}
                                            <input id="searchBox" autocomplete="off" class="form-control search-box" name="name" placeholder="Search for an ingredient" type="text" required>
                                            <ul id="suggestions" class="list-group position-absolute suggestions" style="width: 100%;"></ul>
                                        </td>
                                        <!-- Quantity -->
                                        <td>{{ form.amount }}</td>
                                        <!-- Unit -->
                                        <td>{{ form.unit }}</td>
                                        <td><button type="button" id="add-ingredient-button" class="btn btn-secondary">Add</button></td>
                                        <td><button type="button" id="remove-ingredient-button" class="btn btn-danger delete-row">Remove</button></td>
                                    {% endfor %}
                                </tr>
                                    
                            </tbody>
                        </table>
                        
                    </div>
                </div>
            </div>
        </form>        
    </div>
{% endblock body %}

{% comment %} <div class="col">
    <h5>Ingredients</h5>
    <form action="{% url 'recipe_ingredient' %}" method="post" id="recipe_ingredient_input">
        {% csrf_token %}
        <div class="input-group mb-3">

            <!-- Ingredient Name -->
            <input id="searchBox" autocomplete="off" class="form-control" name="ingredient" placeholder="Select ingredient" type="text" required>
            <ul id="suggestions" class="list-group position-absolute" style="width: auto"></ul>
            <input type="hidden" id="ingredientId" name="ingredient_id">
    
            <!-- Quantity -->
            <input id="quantity" type="number" step="0.01" class="form-control" name="amount" placeholder="Quantity" aria-label="Quantity" required>

            <!-- Unit Dropdown -->
            <select id="unit" class="form-select" name="unit" required>
                <option value="" selected disabled>Select a unit</option>
                
                {% for form in ingredient_formset %}
                    {% for unit in form.unit.field.choices %}
                        {% if unit.0 %}
                            <option value="{{ unit.0 }}">{{ unit.1 }}</option>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </select>
            <button class="btn btn-outline-info">Add Ingredient</button>
        </div>
    </form>

    <div class="table-responsive">
        <table class="table table-striped table-sm table-bordered" style="table-layout: fixed;">
            <thead>
                <tr>
                    <th>Ingredient</th>
                    <th>Quantity</th>
                    <th>Unit</th>
                </tr>
            </thead>
            <form method="post">
                {{ ingredient_formset.management_form }}
                <tbody>
                    {% for form in ingredient_formset %}
                        <tr>
                            <td>{{ form.ingredient }}</td>  <!-- Ingredient name -->
                            <td>{{ form.amount }}</td>  <!-- Quantity -->
                            <td>{{ form.unit }}</td>  <!-- Unit -->
                        </tr>
                    {% endfor %}
                </tbody>
            </form>
        </table>
    </div>
</div>   {% endcomment %}