{% extends "SousChef/layout.html" %}

{% block title %}
    {{ "Home" }}
{% endblock %}

{% block body %}
<div class="container bg-custom mt-2 p-4">
    <div class="row justify-content-center mb-4">
        <div class="col text-center">
            <h2>Welcome to your kitchen!</h2>
            <h5> {{ date }}</h5>    
        </div>
    </div>
    
    <div class="row justify-content-center mt-4">
        <div class="col">
            <form id="homeSearchForm" method="POST" action="recipe">
                {% csrf_token %}
                <input type="text" class="form-control shadow" id="homeSearch" placeholder="Search for a recipe...">
                <ul id="homeSuggestions" class="list-group" style="width: auto;"></ul>
                <span id="searchResult"></span>
            </form>
        </div>
    </div>
    <div class="row justify-content-center mt-4">
        <div class="col text-center">
            <h5>Random Recipe</h5>
            {% if random_recipe %}
                <a href="{% url 'recipe' random_recipe.id %}">{{ random_recipe.title }}</a>
            {% else %}
                <h6>No Recipes Yet!</h6>
                {% if user.is_authenticated %}
                <a href="{% url 'add_recipe' %}">Add a Recipe...</a>
                {% endif %}
            {% endif %}
        </div>
    </div>
</div> 
{% endblock %}