{% extends "SousChef/layout.html" %}
{% load custom_filters %}

{% block body %}
    <div class="m-3">
        <h5>Add an Ingredient</h5>

        <form id="pantryIngredientForm" method="POST" action="{% url 'pantry' %}">
            {% csrf_token %}
            <div class="input-group mb-3">

                <!-- Ingredient Name -->
                <input id="searchBox" autocomplete="off" class="form-control search-box" name="name" placeholder="Search for an ingredient" type="text" required>
                <ul id="suggestions" class="list-group position-absolute suggestions" style="width: auto"></ul>
                <input type="hidden" id="ingredientId" name="ingredient_id">               

                <!-- Quantity -->
                <input type="number" step="0.01" class="form-control" name="quantity" placeholder="Quantity" aria-label="Quantity" required>

                <!-- Unit Dropdown -->
                <select class="form-select" name="unit" required>
                    <option value="" selected disabled>Select a unit</option>
                    {% for unit in form.unit.field.choices %}
                        {% if unit.0 %}
                            <option value="{{ unit.0 }}">{{ unit.1 }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <button class="btn btn-outline-secondary" type="submit" >Add to pantry</button>
            </div>
        </form>
    </div>

    <!-- Error Messages -->
    <span class="custom-alert" id="alert-message"></span>
    

    <!-- Pantry Table Section-->
    <div class="m-3">
        {% for p in pantry %}
            <h5>{{ p.user.user_name }}'s Pantry</h5>
        {% endfor %}
        
        <!-- Pantry Table -->
        <div class="table-responsive">
            <table class="table table-striped table-hover table-bordered" style="table-layout: fixed;">
                <thead>
                    <tr>
                        <th>Ingredient</th>
                        <th>Quantity</th>
                    </tr>
                </thead>
                <tbody>
                    {% if table_data %}
                        {% for row in table_data %}
                        <form type="hidden" method="POST" action="{% url 'pantry_delete' %}">
                            {% csrf_token %}
                            <tr>
                                <td><a class="pantry-table" href="{% url 'ingredient' row.3 %}">{{ row.0 }}</a></td>  <!-- Ingredient name -->
                                <td>{{ row.1|floatformat }} {{ row.2 }}  <!-- Quantity -->
                                    <button type="submit" class="btn btn-close" style="position: absolute; right: 25px;"></button>
                                        <input type="hidden" name="item_id" value="{{ row.3}}">
                                        <input type="hidden" name="pantry_item_id" value="{{ row.4}}">
                                </td>
                            </tr>
                        </form>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td class="text-center" colspan="2">You might want to go shopping!</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
