{% extends "SousChef/layout.html" %}
{% load static %}

{% block body %}
    <div class="container bg-body-secondary mb-2 pb-2" style="--bs-bg-opacity: .5;">

        <!-- Row 1 -->
        <div class="row justify-content-start">
        
            <!-- Column 1 -->
            <div class="col d-flex justify-content-center my-2">

                <!-- Image -->
                <div>
                    {% if recipe.image %}
                        <img src="{{ recipe.image.url }}" class="img-fluid mx-auto m-2 recipe-image-full" alt="recipe image">
                    {% else %}
                        <img src="{% static 'images/default_pics/default_recipe.png' %}" class="recipe-image-full mx-auto m-2" alt="recipe image">
                    {% endif %}
                </div>
            </div> 
            
            <!-- Column 2 -->
            <div class="col my-2" style="--bs-bg-opacity: .5;">
                
                <!-- Recipe Name -->
                <div class="d-flex align-items-center mb-4">
                    <h5 class="card-title mb-0">{{ recipe.title }}</h5>
                    {% if user.is_authenticated %}
                    <button type="button" class="btn fav-button" onclick="toggleIcon()">
                        <img class="fav-recipe-icon" id="favRecipeIcon" src="/static/images/appleiconbw.png" alt="Button Image">
                    </button>
                    {% endif %}
                </div>

                <!-- Created by -->
                <div class="">
                    <p class="blockquote-footer">by {{ recipe.created_by }}</p>
                </div>

                <!-- Description -->
                 <div>Description</div>
                <p>{{ recipe.description }}</p>
            </div>
        </div>

        <!-- Row 2 -->
        <div class="row">

            <!-- Column 1 || Steps -->
            <div class="col my-2">
                <div>
                    <h5>Ingredients</h5>
                    <ul class="list-group list-group-flush">
                        {% for ingredient in recipe.ingredientperrecipe_set.all %}
                            <li class="list-group-item text-darker">
                                <a class="text-darker" href="{% url 'ingredient' ingredient.ingredient.id %}">{{ ingredient.ingredient.name }}</a>: {{ ingredient.amount|floatformat }} {{ ingredient.unit }}
                            </li>
                        {% endfor %}
                    </ul>
                </div>  
            </div>

            <!-- Column 2 || Ingredients -->
            <div class="col my-2">
                <div>
                    <h5>Steps</h5>
                    <ul class="list-group list-group-flush">
                        {% for step in recipe.step_set.all %}
                            <li class="list-group-item text-darker">
                                {{ step.step_number }}. {{ step.step_text }}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>       
    </div>
{% endblock %}