{% extends "SousChef/layout.html" %}

{% block body %}
    {% for recipe in recipes %}
        <h5>{{ recipe.name }}</h5>
        <h5>{{ recipe.description }}</h5>
        <ul>
            {% for ingredient in recipe.ingredientperrecipe_set.all %}
                <li>{{ ingredient.ingredient.name }}: {{ ingredient.amount }} {{ ingredient.unit.name }}</li>
            {% endfor %}
        </ul>
        <h5>{{ recipe.steps }}</h5>
        <h5>{{ recipe.image }}</h5>
        <h5>{{ recipe.created_by }}</h5>    
    {% endfor %}
{% endblock %}