{% extends "SousChef/layout.html" %}


{% block title %}
    Register
{% endblock %}

{% block body %}
<div class="container bg-custom mt-2 p-4">
    <h4>Register</h4>
    <div class="row">
        <div class="col-5">
            <form action="{% url 'register' %}" method="post">
                {% csrf_token %}
                <div class="form-group shadow">
                    <input class="form-control" autofocus type="text" name="username" placeholder="Username">
                </div>
                <div class="form-group shadow my-2">
                    <input class="form-control" type="email" name="email" placeholder="Email Address">
                </div>
                <div class="form-group shadow my-2">
                    <input class="form-control" type="password" id="password" name="password" placeholder="Password"> 
                </div>
                <div class="form-group shadow my-2">
                    <input class="form-control" type="password" id="confirmation" name="confirmation" placeholder="Confirm Password">
                </div>

                <div class="form-check form-switch form-check-reverse my-2">
                    <input class="form-check-input" type="checkbox" role="switch" id="pwSwitch" onclick="togglePassword()">
                    <label class="form-check-label" for="pwSwitch">Show Password</label>
                </div>

                <input class="btn btn-custom shadow" type="submit" value="Register">
            </form>
        </div>
        <div class="col">
            {% if message %}
                <div data-bs-theme="dark" class="alert card alert-dismissible fade show shadow mx-auto" role="alert">
                    {{ message }} <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="my-3">Already have an account? Log in<a href="{% url 'login' %}"> here.</a></div>

{% endblock %}