{% extends "SousChef/layout.html" %}
{% load static %}


{% block title %}
    {{ "Dashboard" }}
{% endblock %}

{% block body %}
<div class="container p-3">
        <div class="row mt-2 mx-3">
            <div class="col"></div>
            <!-- User -->
            <div class="col d-flex justify-content-end">
                <div class="d-flex flex-column align-items-center">
                    <!-- Profile Pic -->
                    <div class="mb-2">
                    {% if profile.profile_picture %}
                        <img class="profilepic" src="{{ profile.profile_picture }}"></img>
                    {% else %}
                        <img class="profilepic" src="/static/images/profile_pics/default_profile.png"></img>
                    {% endif %}
                    </div>
                    <!-- Username -->
                    <div class="fs-4">{{ profile.user_name }}</div>  
                </div>
            </div>
        </div>
        <div class="row mt-2 mx-3">

            <!-- My Recipes -->
            
                <h5>My Recipes</h5>
                {% for recipe in recipes %}
                    <div class="col-md-3 my-1">
                        <div class="card" style="width: 14rem;">
                            {% if recipe.image %}
                                <a class="my-2 mx-auto" href="{% url 'recipe' recipe.id %}">
                                <img src="{{ recipe.image.url }}" class="card-img-top img-fluid recipe-image" alt="recipe image">
                                </a>
                            {% else %}
                                <a class="my-2 mx-auto" href="{% url 'recipe' recipe.id %}">
                                <img src="{% static 'images/recipe_pics/default_recipe.png' %}" class="card-img-top img-fluid recipe-image" alt="recipe image">
                                </a>
                            {% endif %}
        
                            <div class="card-header">
                                <h6 class="card-title">{{ recipe.title }}</h6>
                            </div>
        
                            <div class="card-footer">
                                <a href="{% url 'recipe' recipe.id %}"class="card-link">View Recipe</a>
                                <a href="{% url 'edit_recipe' recipe.id %}" class="card-link">Edit Recipe</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            
        </div>

        <span class="custom-alert" id="alert-message"></span>




    <!-- Favourites -->

    

{% endblock %}